/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    font-family: 'Sour Gummy';
    color: #ee1010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

body .back-btn {
    position: absolute;
    top: 15px;
    left: 168px;
    background-color: transparent;
    color: #ffffff;
    font-size: 25px;
    z-index: 11;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

body .back-btn:hover {
    background-color: transparent;
    color: #ffffff;
}

.image-fundoCards {
    position: absolute;
    left: -7.5%;
    transform: rotate(90deg);
    opacity: 0.9;
    z-index: -1;
    width: 50%;
}

.image-fundoAreas2 {
    position: absolute;
    margin-top: 6%;
    left: 55.8%;
    transform: rotate(90deg);
    opacity: 1;
    z-index: -1;
    width: 50%;
}

.image-fundoAreas3 {
    position: absolute;
    left: 64%;
    transform: rotate(220deg);
    opacity: 0.6;
    z-index: -1;
}

.image-fundoAreas4 {
    position: absolute;
    left: -13%;
    transform: rotate(35deg);
    opacity: 0.7;
    z-index: -1;
    width: 10%;
}

.quiz-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 10%;
    height: auto;
    max-width: 900px;
    background-color: #1F1F1F;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 0 10px 30px rgba(9, 187, 113, 0.699);
    text-align: center;
}

.quiz-header {
    margin-bottom: 15px;
}

.quiz-header h1 {
    font-size: 2.5rem;
    color: #00FFAB;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.quiz-header p {
    font-size: 1.5rem;
    color: #ffffff;
}

button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}